@import "../../components/alMobileIntro/_alMobileIntro.scss";
@import "../../components/alMobileInteractive/_alMobileInteractive.scss";

@if import-once('al-mobile-view') {
	.al-mobile-view {
		width: 80%;
		margin: 1rem auto;
		line-height: 2rem;
	}

}